<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.mapper.UserMapper">

	<!-- type: User resultMap最终映射的java对象类型,id:唯一标识 -->
	<resultMap type="user" id="userResultMap">
		<!-- id表示查询结果集中唯一标识 -->
		<!-- column: 查询出来的列名 -->
		<!-- property 制定pojo类型中的属性名 -->
		<id column="id_" property="id" />
		<!-- 对普通列名映射定义 -->
		<result column="username_" property="username" />
	</resultMap>

	<select id="findUserByIdResultMap" parameterType="int"
		resultMap="userResultMap">
		select id id_, username username_ from user where id = #{id}
	</select>

	<!-- SQL片段 -->
	<sql id="query_user_where">
		<if test="userCustom != null">
			<if test="userCustom.sex!=null and userCustom.sex != 0">
				and user.sex = #{userCustom.sex}
			</if>
			<if test="userCustom.username!=null and userCustom.username!=''">
				and user.username like "%${userCustom.username}%"
			</if>
			<if test="ids != null">
				<!-- AND (id=1 org id=10 or id=20) -->
				<foreach collection="ids" item="user_id" open="AND (" close=")" separator="OR">
					<!-- 每次遍历，需要拼接的串 -->
					id = #{user_id}
				</foreach>
				<!-- and id in (2,7,9) -->
		<!-- 		<foreach collection="ids" item="user_id" open="and id In(" close=")"  separator=",">
				     #{user_id} 
				 </foreach> -->
			</if>
		</if>
	</sql>

	<!-- 用户信息的综合查询 -->
	<select id="findUserList" parameterType="userQueryVo"
		resultType="userCustom">
		select id, username, birthday, address from user

		<where>
			<!-- refid 不在本mapper文件中，需要加namespace -->
			<include refid="query_user_where"></include>
		</where>


	</select>


	<!-- 用户信息综合查询总数 -->
	<select id="findUserCount" parameterType="userQueryVo"
		resultType="int">
		select count(1) from user
		<where>
			<include refid="query_user_where"></include>
		</where>

	</select>

	<select id="findUserById" parameterType="int" resultType="user">
		select
		* from user where id = #{id}
	</select>

	<select id="findUserByName" parameterType="String" resultType="user">
		select * from user where username like "${value}%"
	</select>

	<insert id="insertUser" parameterType="user">
		<!-- keyProperty 查询到的值设置到parametery的id属性 order 相对于insert -->
		<selectKey keyProperty="uuid" order="BEFORE" resultType="java.lang.String">
			select uuid()
		</selectKey>
		<!-- <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer"> 
			select LAST_INSERT_ID() </selectKey> -->
		insert into user(username, password, birthday,address, email, uuid)
		values(#{username}, #{password}, #{birthday}, #{address}, #{email},
		#{uuid})

	</insert>

	<delete id="deleteUser" parameterType="java.lang.Integer">
		delete from user where id
		= #{value}
	</delete>

	<update id="updateUser" parameterType="com.hz.po.User">
		update user set
		username=#{username}, password=#{password},
		birthday=#{birthday},
		address=#{address} where id = #{id}
	</update>
</mapper>